/*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Merriweather:wght@300&family=Playfair+Display&family=Work+Sans:ital,wght@1,300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
  }




  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    background: rgb(255, 255, 255);
    padding: 20px;
  }

  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  article {
    float: left;
    padding: 40px;
    width: 70%;
    background-color: #ffffff;
    height: 300px;  /* only for demonstration, should be removed */
  }

  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }


  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 1150px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }



.left-box {

  border-radius: 20px;
  border: 1px solid #cfc9c9;
  padding: 20px;
  width: 300px;
  position:relative;
  top:100px;
  height: fit-content;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Roboto Condensed', sans-serif;

}


.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 100px;
  top: -25px;
}

.text_center{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}


.links{

  color: black;
  opacity: 50%;
}

.links:hover{
  text-decoration: none;
  opacity: 100%;
}


.right-box {
  border-radius: 20px;
  border: 1px solid #cfc9c9;
  padding: 20px;
  width: 500px;
  height: 120px;
  position: relative;
  top: 80px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather', serif;

}


.avatar2 {

  vertical-align: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  left: 10px;
}

.button-wall {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*.post-box{*/
/*  border-radius: 50px;*/
/*  position: relative;*/
/*  left: 20px;*/
/*}*/
input {
  background-color: lightgray;
  position: relative;
  left: 60px;
  top: -37px;
  width: 350px;
  bottom: 10px;
  height: fit-content;
  border: 2px solid grey;
  border-radius: 15px;
  opacity: 40%;
}

input:hover{
  background-color: #aaaaaa;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  font-family: 'Merriweather', serif;
  opacity: 100%; /* Firefox */
}


/*remove focus when writing */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.btn-toolbar{
  margin: 5px;
  position: relative;
  top: -25px;
  left: 0px;

}


.btn {
  border-radius: 10px;
  text-decoration: none;
}


.btn-text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #878787;
  font-weight: 550;
}

.btn-text:hover{
  text-decoration: none;
  cursor: pointer;
}

.btn:hover{
  background-color: #e3e3e3;
}

