<html>
<header>
<app-navigation-bar ></app-navigation-bar>
</header>
<!-- <div class="right">
    Dexia
</div> -->
<body>



<section>
        <nav>
        <ul>
            <!-- <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li> -->
            <div class="left-box" >


              <br>
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Avatar" class="avatar">
              <div class="text_center">
                Welcome, {{ _authService.getUsername() }}
              </div>
              <hr>

            <ul>
              <li>
                <br>
                <a class="links" routerLink="/settings">
                  My Settings
                  <i class="fa fa-cog " aria-hidden="true"></i>
                </a>


              </li>
              <li>
                <a class="links" routerLink="/mynetwork"> Grow your network
                <i class="fa fa-users" aria-hidden="true"></i>
                </a>
              </li>
              <li (click)="logout()">
                <a class="links" href=''> Log out

                  <i class="fa fa-sign-out" aria-hidden="true"></i>

                </a>
              <li>

            </ul>
            </div>

        </ul>
        </nav>


<!--  WALL -->
    <article>
        <div class="right-box">
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Avatar" class="avatar2">
          <div class="post-box">
            <!--POST FORM-->
            <form [formGroup]="postForm" (ngSubmit)="createPost()">
            <input type="text" id="post" [formControlName]="'description'" placeholder=" Start a post"  />


              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <!--Photo Button-->
                  <button type="submit" class="btn btn-outline  mb-2">
                    <i class="fa fa-picture-o fa-lg" aria-hidden="true" style="color: #1d9bd5"></i>
                    <a class="btn-text" >  Photo </a>
                  </button>

                 <!--Video Button-->
                  <button type="button " class="btn btn-outline  mb-2">
                    <i class="fa fa-youtube-play fa-lg" aria-hidden="true" style="color: #20a349"></i>
                    <a class="btn-text">  Video </a>
                  </button>

                  <!--Audio Button-->
                  <button type="button" class="btn btn-outline  mb-2">
                    <i class="fa fa-volume-up fa-lg" aria-hidden="true" style="color: #aa9218"></i>
                    <a class="btn-text">  Audio </a>
                  </button>

                  <!--Write Article-->
                  <button type="button" class="btn btn-outline  mb-2">
                    <i class="fa fa-newspaper-o fa-lg" aria-hidden="true" style="color: #ff5858"></i>
                    <a class="btn-text"> Write Article</a>
                  </button>
                </div>
            </form>
                <hr style="width: 120%;margin-left:0;position: relative;left: -43px">


        </div>

<!--          <i class="fa fa-camera-retro" aria-hidden="true"></i>-->

          <!--        <form class="login">-->
<!--            <input type="text" id="post" placeholder="Start a post">-->
<!--            <button routerLink="/home">-->
<!--                <i class="spinner"></i>-->
<!--                <span class="state">Post</span>-->
<!--            </button>-->
<!--        </form>-->
        </div>
    </article>
  </section>


</body>
</html>
