
<app-navigation-bar></app-navigation-bar>
<body>

<div *ngFor="let user of connectionRequests">
  <div class="box-view">

      <img  src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Avatar" class="avatar">

      {{ user.username }}



      <div class="button-connect">
        <app-connect-button [receiver_user]="user"></app-connect-button>
      </div>
  </div>

</div>




<div *ngFor="let notification of notificationList">
  <a class="links" routerLink="/post/{{ notification.postId }}">
  <div class="box-view">

        {{ notification.text }}

  </div>
  </a>

</div>

</body>
