

<div *ngIf="connection_status == 0">
    <div class="col-md-1">
      <!-- <button mat-raised-button color="accent" (click)="like()" class="fa fa-thumbs-up"  aria-hidden="true" ></button> -->
      <button mat-raised-button style="width: 120px; background-color : #ebebeb; color: #201d1d;" color="accent" (click)="sendConnectionRequest()"  aria-hidden="true" > Connect </button>
    </div>
</div>
    


<div *ngIf="connection_status == 1">
      <div class="col-md-1">
        <button  mat-stroked-button style="width: 120px; background-color : #fbf7ef; color: #201d1d;" color="accent" (click)="remove_or_cancel_connection()"   aria-hidden="true"> Request sent </button>
      </div>
</div>


<div *ngIf="connection_status == 2">
  <div class="col-md-1">
    <button mat-raised-button style="width: 120px; background-color : #ebebeb; color: #201d1d;" color="accent" (click)="accept_connection()"   aria-hidden="true"> Accept </button>
    <button mat-raised-button style="width: 120px; background-color : #201d1d; color: #ebebeb;" color="accent" (click)="remove_or_cancel_connection()"   aria-hidden="true"> Reject </button>

  </div>
</div>


<div *ngIf="connection_status == 3">
  <div class="col-md-1">
    <button mat-raised-button  mat-stroked-button style="width: 120px; background-color : #fbf7ef; color: #201d1d;" color="accent" (click)="remove_or_cancel_connection()"   aria-hidden="true"> Connected </button>
  </div>
</div>

