body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}



.left-box {
  border-radius: 20px;
  border: 1px solid #cfc9c9;
  padding: 20px;

  height: fit-content;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather', serif;
  width: 100%;

}



.cl {
  text-decoration:none;
  color: black;

}


img.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 95px;
  right: 125px;
}

.username {
  top: 70px;
  position: relative;
}

.con-button {
  top: 120px;
  left: 27px;
  position: relative;
}

.text_center{
  text-align: center;
}


.tiles-template {
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  width: 90%;
  margin-left: 80px;
  margin-right: 40px;
  height: 100%;
}

.box {
  position: relative;
  border: 1px solid #cfc9c9;
  padding: 25px;
  border-radius: 14px;

  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);

  width: 250px;
  height: 300px;


  /* height: 300px; */

}



