/*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Merriweather:wght@300&family=Playfair+Display&family=Work+Sans:ital,wght@1,300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #005eff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff0050;
}




input:focus + .slider {
  box-shadow: 0 0 1px #ff0050;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slader{
  color: mediumvioletred;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.check-box {
  position:relative;
  border-radius: 20px;
  border: 1px solid #cfc9c9;
  padding: 20px;
  width: 350px;
  min-height: 400px;
  max-height: fit-content;
  top: -495px;
  left: 73%;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather', serif;
  font-size: 15px;
  max-width: 100vw;



}
