<!-- Rectangular switch -->

<!-- Rounded switch -->

<!--work_exp-->

<div class="check-box">
  <p style=" font-family: 'Merriweather', serif;font-weight: bold;font-size: 18px"> Private </p>
  <br>
  <br>

<!--  work -->
  <label class="switch" >
    <input type="checkbox" [(ngModel)]="buttonInfo.work_exp" (ngModelChange)="changeButtonInfo()">
    <span class="slider round" ></span>
    <div style="position: relative;left: 130px;top:-23px;font-weight: bold;font-size: 17px"> Work </div>
  </label>


  <br>
  <br>

  <!--studies-->
  <label class="switch">
    <input type="checkbox" [(ngModel)]="buttonInfo.studies" (ngModelChange)="changeButtonInfo()">
    <span class="slider round"></span>
    <div style="position: relative;left: 130px;top:-23px;font-weight: bold;font-size: 17px"> Studies </div>
  </label>

  <br>
  <br>
  <!--abilities-->
  <label class="switch">
    <input type="checkbox" [(ngModel)]="buttonInfo.abilities" (ngModelChange)="changeButtonInfo()">
    <span class="slider round"></span>
    <div style="position: relative;left: 130px;top:-23px;font-weight: bold;font-size: 17px"> Abilities </div>
  </label>

  <br>
  <br>
  <!--company-->
  <label class="switch">
    <input type="checkbox" [(ngModel)]="buttonInfo.company" (ngModelChange)="changeButtonInfo()">
    <span class="slider round"></span>
    <div style="position: relative;left: 130px;top:-23px;font-weight: bold;font-size: 17px"> Company </div>
  </label>

  <br>
  <br>
  <!--phone-->
  <label class="switch">
    <input type="checkbox" [(ngModel)]="buttonInfo.phone" (ngModelChange)="changeButtonInfo()" >
    <span class="slider round"></span>
    <div style="position: relative;left: 130px;top:-23px;font-weight: bold;font-size: 17px"> Phone </div>
  </label>


</div>
