body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }
  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  
  
  .left-box {
    border-radius: 20px;
    border: 1px solid #cfc9c9;
    padding: 20px;
  
    height: fit-content;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Merriweather', serif;
    width: 100%;
  
  }
  
  
  
  .cl {
    text-decoration:none;
    color: black;
  
  }
  
  
  img.avatar { /* for the connected users */
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 95px;
    right: 125px;
  }
  
  .username { /* for the connected users */
    top: 70px;
    position: relative;
  }
  
  .avatar-query-left {
    position: absolute;
    left: 40px;
    top: 15px;
  }
  
  img.avatar-query {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
    /* top: 5px;
    left: 50px; */
  }
  
  
  .username-on-query {
    position: absolute;
    left: 100px;
    top: 40px;
  
  }
  
  .con-button {
    top: 120px;
    left: 27px;
    position: relative;
  }
  
  .text_center{
    text-align: center;
  }
  
  
  .tiles-template {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    width: 90%;
    margin-left: 80px;
    margin-right: 40px;
    height: 100%;
  }
  
  .box {
    position: relative;
    border: 1px solid #cfc9c9;
    padding: 25px;
    border-radius: 14px;
  
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  
    width: 250px;
    height: 300px;
  
  
    /* height: 300px; */
  
  }
  
  
  
  .box-view {
    position: relative;
    border: 1px solid #cfc9c9;
    padding: 25px;
    border-radius: 12px;
    top: 100px;
    margin-top: 35px;
    bottom: 100px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  
  
  }
  
  
  .avatar {
    vertical-align: middle;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
    left: 0px;
    top: 50%;
  
  }
  
  
  .text_center{
    text-align: center;
  }
  
  
  /* places the connect button at the right side of a box */
  .button-connect { 
    position: absolute;
    vertical-align: middle;
    right: 150px;
    width: 10px;
    bottom: 45px;
  }
  
  .links{
  
    color: black;
    opacity: 50%;
  }
  
  .links:hover{
    text-decoration: none;
    opacity: 100%;
  }
  
  
  
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0050;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {

  background-color: #005eff
}




input:focus + .slider {
  box-shadow: 0 0 1px #ff0050;
}

input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}

.slader{
  color: mediumvioletred;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.check-box {
  position:relative;
  border-radius: 20px;
  border: 1px solid #cfc9c9;
  padding: 20px;
  width: 350px;
  min-height: 400px;
  max-height: fit-content;
  top: -495px;
  left: 7%;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather', serif;
  font-size: 15px;
  max-width: 100vw;

}


.upper-box{
  position: relative;
  left: 50%;
  right: 50%;
  width: 200px;
  height: 20px;
  font-weight: 400;
  font-size: x-large;
  text-align: center;

}

hr {
  position: absolute;
  margin: 0 auto;
  height: 1px;
  width:800px;
  top:200px;
  left: 50%;
  right: 50%;

  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}