<br>
<br>
<button mat-raised-button color="accent" class="four-buttons" (click)="logout()"   aria-hidden="true"> Logout </button>

<button mat-raised-button color="accent" class="four-buttons" (click)="exportAsJSON()"  aria-hidden="true"> Export as JSON </button>

<button mat-raised-button color="accent" class="four-buttons" (click)="exportAsXML()"  aria-hidden="true"> Export as XML </button>

<button mat-raised-button color="accent" class="four-buttons" (click)="selectAll()"  aria-hidden="true"> Select All </button>

<br>
<br>
<div class="upper-box">
  Users list
</div>

<div *ngIf="isLoaded">

  <div *ngFor="let user of usersList">


          <div class="box-view">
            <div class="avater-query-left">
            <img  src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Avatar" class="avatar-query">
            </div>
            <div class="username-on-query">{{ user.username }}</div>



            <div class="button-connect">
                <label class="switch">Four
                  <input type="checkbox" value='{{ user.username }}'  id="{{ user.username }}">
                  <span class="slider round"></span>
                  <div style="position: relative;left: 130px;top:-23px;font-weight: bold;font-size: 17px"></div>
                </label>

            </div>
          </div>
  </div>
</div>
