
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


.body{
  overflow-y: hidden; overflow-x: hidden;
  height: fit-content;
  color: lightgrey;
  background-color: lightgrey;
}

.box {
  border-radius: 20px;
  border: 1px solid #cfc9c9;
  padding: 20px;

  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather', serif;
  position: relative;
  left: 25%;
  width: 50%;
  top: 75px;
  min-height: 100px;
  height: 520px;
  max-height: fit-content;
  height: fit-content;

}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  left: 45%;
  right: 45%;
  top: -25px;
}


.form-rounded {
  position: relative;
  border-radius: 1rem;
  font-family: 'Lato', sans-serif;
}

.form-rounded-exists,
.form-rounded-exists:focus{
  position: relative;
  border: 2px solid red;
  border-radius: 1rem;
  font-family: 'Lato', sans-serif;
}


.form-rounded-exists::-webkit-input-placeholder{
  color: red;
  opacity: 45%;
}



.form-rounded2 {
  border-color: red;
  border-radius: 1rem;
  font-family: 'Lato', sans-serif;
}

.btn{

  background-color: lightskyblue;
  border-color: lightskyblue;
}

.btn-round{
  border-radius: 10px;
  position: relative;
  left: 75px;
  height: 30px;

}

.fa{
  position: relative;
  top: -3px;
}

input{
  padding-left: 14px;
  padding-right: 14px;
  box-shadow: none;
  outline: none;
  font-family: 'Lato', sans-serif;
  border: 1px solid #aaa;
  box-shadow: none;
  outline: none;
}


input:focus, textarea:focus
{
  border: 1px solid #aaa;
  box-shadow: none;
  outline: none;
}

.txt{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  position: relative;
  left: 7px;
}

.ins-txt{
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  position: relative;
  left: 5px;
}


.public-toggle{
  position: relative;
  left: 860px;
  top: -324px;

}


.line{
  background-color: #7F7F7FFF;
  border: 0 none;
  color: #7f7f7f;
  height: 1px;
}

.image-input-box{
  position: relative;
  top: 10px;
}

.inputfile{
  border: 1px solid #7F7F7FFF;
  border-radius: 30px;
}


.disabled{
  color: lightgrey;
  cursor: not-allowed;
}

.disable:hover{
  cursor: not-allowed;
}
