
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');


.conv-box {
    position:relative;
    border-radius: 20px;
    border: 1px solid #cfc9c9;
    padding: 20px;
    width: 500px;
    height: 500px;
    top: 100px;
    left: 125%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Merriweather', serif;
  max-width: 100vw;
  overflow-x: hidden;

  }


.input{
    color: black;
    font-family: 'Raleway', sans-serif;
}


.message-input-box{
    position:relative;
    top: 10px;
    width:100%;
    outline: none;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;

}

.scroll{
  margin:4px,4px;
  padding:4px;
  background-color: white;
  width: 500px;
  height: 110px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  max-width: 100vw;
}

.sender{
  position: relative;
  left: 290px;
  max-width: 130px;
  overflow-x: hidden;
  border: 2px solid lightskyblue;
  background-color: lightskyblue;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.receiver{
  position: relative;
  left: 10px;
  max-width: 130px;
  overflow-x: hidden;
  border: 2px solid lightgreen;
  background-color: lightgreen;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.messages-region{
  overflow-y: scroll;
  height:360px;
  overflow-x: hidden
}

/*custom scroll bar*/
.section::-webkit-scrollbar {
  width: 16px;
}

.section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.time{
  font-size: 15px;
  color: #000000;
  text-align: right;
  opacity: 80%;
  font-family: 'Zen Loop', cursive;
}


/* hide scrollbar but allow scrolling */
div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
