

<app-navigation-bar></app-navigation-bar>

<body style="position:fixed;height:fit-content">

    <app-conversations> </app-conversations>




    <div class="conv-box" >

      <div class="messages-region" #scrollMe [scrollTop]="scrollMe.scrollHeight">


<!--        -->
        <div *ngIf="conv$ | async as conv">
        <div  *ngFor="let msg of conv">


          <div  *ngIf=" msg.senderUsername === currentUser " >


            <div class="sender">

              {{msg.message}}

              <div class="time">{{ msg.stringTimeCreated }} </div>

            </div>

          </div>

          <div class="receiver" *ngIf=" msg.receiverUsername === currentUser ">
            
            
            {{ msg.message }}

            <div class="time">{{msg.stringTimeCreated}} </div>

          </div>

        </div>
        <!-- {{ getConversation() }} -->

       </div> <!-- ng if async-->
      </div>
        <form class="message" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
            <hr style="position:relative;top:10px;background-color:black;border-top:1px solid black">
            <input class="message-input-box" type="text" placeholder="Message" [formControlName]="'message'" name="message" autocomplete="off"/>
        </form>
    </div>



</body>