

.left-box{
    position: absolute;
    border-radius: 20px;
    border: 1px solid #cfc9c9;
    padding: 20px;
    width: 350px;
    height: 400px;
    left: 5%;
    top: 60px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Merriweather', serif;
    font-family: 'Lato', sans-serif;
}

.conv-box {
    position: absolute;
    border-radius: 20px;
    border: 1px solid #cfc9c9;
    padding: 20px;
    width: 500px;
    height: 500px;
    top: 60px;
    right: 5%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Merriweather', serif;
}

.conversation_messages {
    overflow: auto;
    height: 80%;
    width: 100%;
    position: relative;
    top:0px;
    /* bottom:0; */
}


.input{
    color: black;
}




.message-input-box{
    position: relative;
    bottom: 0;
    width:100%;
    outline: none;
    border: 0px solid;
    border-radius: 10px;
    
    height: 20%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);


    padding-left: 10px;
}

