<app-navigation-bar></app-navigation-bar>



<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Avatar" class="profile-pic">
    </div>
    <div class="flip-card-back">
      <br><br>
      <p >Username: {{ user_profile_info.username }}</p>
      <p >First Name: {{ user_profile_info.first_name }} </p>
      <p >Last Name: {{ user_profile_info.last_name }} </p>
    
      <p>Company: {{ user_profile_info.company_name }}</p>
      <p>Phone:   {{ user_profile_info.phone }} </p>
    </div>
  </div>
</div>



<div class="personal-info">



</div>



