<app-navigation-bar></app-navigation-bar>



<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Avatar" class="profile-pic">
      <p style="position:relative;top: 90px;font-weight: bold;font-family: 'Barlow Condensed', sans-serif;;font-size: 30px">{{ user_profile_info.username }}</p>

    </div>
    <div class="flip-card-back">
      <br><br>
      <p>First Name: &nbsp;  {{ user_profile_info.first_name }}  </p>

      <p>Last Name:  &nbsp;{{ user_profile_info.last_name }} </p>
      <p>Company:  &nbsp;{{ user_profile_info.company_name }}</p>
      <p>Phone:    &nbsp;{{ user_profile_info.phone }} </p>
      <p>Connected Users:  &nbsp;{{ this.usersList.length }}</p>
    </div>
  </div>
</div>


<mat-expansion-panel hideToggle class="one" [ngClass]="buttonInfo.studies ==true ? 'one' : 'one-dis'">
  <mat-expansion-panel-header>
    <mat-panel-title style="position: relative;left: 40%"
                     [ngStyle]="{'color': buttonInfo.studies == true ? '' : 'black' }">
      Studies
    </mat-panel-title>

  </mat-expansion-panel-header>
  <p *ngIf="buttonInfo.studies && user_profile_info.studies.length != 0">{{user_profile_info.studies}}</p>
  <p *ngIf="buttonInfo.studies && user_profile_info.studies.length == 0"> No Studies Added! </p>
  <div *ngIf="!buttonInfo.studies">
    <p style="text-align: center;color: #ff3232;font-weight: bold" > Private Field.</p>
    <p style="text-align: center"> You must be connected with <strong style="color: #ff3232">{{username}}</strong> to access it.</p>
  </div>


</mat-expansion-panel>


<mat-expansion-panel hideToggle [ngClass]="buttonInfo.work_exp ==true ? 'two' : 'two-dis'">
  <mat-expansion-panel-header>
    <mat-panel-title style="position: relative;left: 32%"
                     [ngStyle]="{'color': buttonInfo.work_exp == true ? '' : 'black' }">
      Work Description
    </mat-panel-title>
<!--    <mat-panel-description>-->
<!--      This is a summary of the content-->
<!--    </mat-panel-description>-->
  </mat-expansion-panel-header>
  <p *ngIf="buttonInfo.work_exp && user_profile_info.work_experience.length != 0">{{user_profile_info.work_experience}}</p>
  <p *ngIf="buttonInfo.work_exp && user_profile_info.work_experience.length == 0"> No Work Experience Added! </p>
  <div *ngIf="!buttonInfo.work_exp">
    <p style="text-align: center;color: #ff3232;font-weight: bold" > Private Field.</p>
    <p style="text-align: center"> You must be connected with <strong style="color: #ff3232">{{username}}</strong> to access it.</p>
  </div>
</mat-expansion-panel>



<mat-expansion-panel hideToggle [ngClass]="buttonInfo.abilities ==true ? 'three' : 'three-dis'">
  <mat-expansion-panel-header>
    <mat-panel-title style="position: relative;left: 42%"
                     [ngStyle]="{'color': buttonInfo.abilities == true ? '' : 'black' }">
      Abilities
    </mat-panel-title>
<!--    <mat-panel-description>-->
<!--      This is a summary of the content-->
<!--    </mat-panel-description>-->
  </mat-expansion-panel-header >
  <p *ngIf="buttonInfo.abilities && user_profile_info.abilities.length != 0"> {{user_profile_info.abilities}}</p>
  <p *ngIf="buttonInfo.abilities && user_profile_info.abilities.length == 0"> No Abilities Added! </p>
  <div *ngIf="!buttonInfo.abilities">
    <p style="text-align: center;color: #ff3232;font-weight: bold" > Private Field.</p>
    <p style="text-align: center"> You must be connected with <strong style="color: #ff3232">{{username}}</strong> to access it.</p>
  </div>
</mat-expansion-panel>



<!--{{buttonInfo.work_exp}}-->
<!--{{buttonInfo.studies}}-->
<!--{{buttonInfo.abilities}}-->
<!--{{buttonInfo.company}}-->
<!--{{buttonInfo.phone}}-->



