
<app-navigation-bar></app-navigation-bar>

<body>


<div class="big-box">
  <div class="f-box">
  <div style="font-weight: bold;font-family: 'Yanone Kaffeesatz', sans-serif;font-size: 23px"> Work Experience: </div>
    <br>

    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your Work Experience"></textarea>
    </div>


  </div>

  <div class="s-box">
    <div style="font-weight: bold;font-family: 'Yanone Kaffeesatz', sans-serif;font-size: 23px"> Studies: </div>
    <br>

    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your Studies"></textarea>
    </div>


  </div>

  <div class="t-box">
    <br>
    <div style="font-weight: bold;font-family: 'Yanone Kaffeesatz', sans-serif;font-size: 23px"> Abilities: </div>
    <br>

    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your Abilities"></textarea>
    </div>

  </div>


<!--  publish button  -->
  <button  class="animated-border-button">Publish</button>

</div>

</body>
