/*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Merriweather:wght@300&family=Playfair+Display&family=Work+Sans:ital,wght@1,300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}



textarea{
  resize: none;
  box-shadow: none!important;
  outline: 0 none;
  border-color: #cfc9c9;
  width: 400px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
}

textarea:focus{
  box-shadow: none!important;
  outline: 0 none;
  border-color: #cfc9c9;
}

.big-box {
  position:relative;
  border-radius: 20px;
  border: 1px solid #cfc9c9;
  padding: 20px;
  width: 500px;
  min-height: 600px;
  max-height: fit-content;
  top: 105px;
  left: 35%;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather', serif;
  font-size: 15px;
  max-width: 100vw;



}


.input-box-exp{
  position: relative;
  height: 100px;
  width: 450px;
  border: 2px solid #dcdcdc;
  padding-left: 15px;
  padding-bottom: 55px;
}


/*.t-box{*/
/*  padding-bottom: 150px;*/
/*}*/



.animated-border-button {
  background-color: #263059;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  left: 35%;
  top: 35px;
}

.animated-border-button:before,
.animated-border-button:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 24px;
}

.animated-border-button:before {
  border-top: 2px solid #263059;
  right: 0;
  top: -4px;
}

.animated-border-button:after {
  border-bottom: 2px solid #263059;
  bottom: -4px;
  left: 0;
}

.animated-border-button:hover:before,
.animated-border-button:hover:after {
  width: 100%;
}


@media (max-width: 1250px) {
  .big-box, .test {
    width: 30%;
    height: auto;
  }
}