<app-navigation-bar></app-navigation-bar>

<body>


<div class="big-box">

  <form class="login" [formGroup]="infoForm" (ngSubmit)="changePersonalinfo()">
  <div class="f-box">
  <div style="font-weight: bold;font-family: 'Yanone Kaffeesatz', sans-serif;font-size: 23px"> Work Experience: </div>
    <br>


      <textarea formControlName="work" rows="3" placeholder="Write your Work Experience"></textarea>



  </div>

  <div class="s-box">
    <div style="font-weight: bold;font-family: 'Yanone Kaffeesatz', sans-serif;font-size: 23px"> Studies: </div>
    <br>


      <textarea formControlName="studies" rows="3" placeholder="Write your Studies"></textarea>



  </div>

  <div class="t-box">
    <br>
    <div style="font-weight: bold;font-family: 'Yanone Kaffeesatz', sans-serif;font-size: 23px"> Abilities: </div>
    <br>


      <textarea rows="3" formControlName="abilities" placeholder="Write your Abilities"></textarea>


  </div>

 
  <!--  publish button  -->
  <button  class="animated-border-button">Publish</button>

  </form>
</div>


<app-public-buttons class="test"></app-public-buttons>





</body>
