.post{
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  position: relative;
  border-radius: 14px;
  padding:15px;
  /*padding-bottom: 120px;*/
  left:13px;
  width: 505px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  word-break: break-word;
}

.btnCommments{
  border-radius: 2px solid;
  color: #878A8C;
  opacity: 1;
}

.btnCommments:hover{
  opacity: 0.65;
  cursor: pointer;
}

.post-title{
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.posturl, .postname{
  color: black;
}



.post-text{
  margin-top: 10px;
}

.duration {
    font-style: italic;
    opacity: 45%;
}


.centered {
  position: absolute;
  left: 250px;
}