<div class="wrapper">
  <form class="login">
    <p class="title">Sign Up</p>
    <input type="text" placeholder="First Name" autofocus />
    <i class="fa fa-user"></i>

    <input type="text" placeholder="Last Name" autofocus />
    <i class="fa fa-user"></i>

    <input type="text" placeholder="Password" />
    <i class="fa fa-key"></i>

    <input type="text" placeholder="Email" />
    <i class="fa fa-envelope"></i>

    <input type="text" placeholder="Phone Number" />
    <i class="fa fa-phone"></i>

    <input type="text" placeholder="Works At" />
    <i class="fa fa-building"></i>

    <button>
      <i class="spinner"></i>
      <span class="state">Sign Up</span>
    </button>
  </form>
</div>
