<app-navigation-bar></app-navigation-bar>



<div *ngIf="isLoaded">

    <div class="box-view">

            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Avatar" class="avatar">
             <div class="username-post">{{ post.username }}</div>
             <br>


        <div class="topright">
            {{ post.duration }}
        </div>



        <hr>
        <audio *ngIf="post.file_path != null && post.file_path.includes('post_audio')" controls="controls">
          <source src="{{post.file_path}}" type="audio/x-wav" />
        </audio>

        <img *ngIf="post.file_path != null && post.file_path.includes('post_images')" src="{{post.file_path}}" width="450" height="300">

        <video *ngIf="post.file_path != null && post.file_path.includes('post_video')" controls>
          <source src="{{post.file_path}}" type="video/mp4">
          <source src="{{post.file_path}}" type="video/ogg">
          Your browser does not support the video tag.
        </video>

        <div class="text"> {{ post.description }} </div>
        <hr>
        <app-like [post]="this.post"></app-like>
        <hr>
    </div>

    <br>


    <div class="box-view" style="height: 100px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Avatar" class="avatar2">
        <!--POST FORM-->
            <form [formGroup]="commentForm" (ngSubmit)="addComment()">
                <input type="text" id="post" [formControlName]="'comment_text'" placeholder=" Add a comment"  style="padding-left: 13px;padding-right:13px;font-family: 'Merriweather', serif;" autocomplete="off"/>


                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                </div>

            </form>

    </div>


    <br>



    <div *ngFor="let comment of commentsList">
        <div class="box-view">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Avatar" class="avatar2">
            <div class="username-on-comment"> {{ comment.username }} </div>
            <div class="date-on-comment"> {{ comment.createdDate }} </div>

            <div class="shift">
                <div class="text">{{ comment.text }}</div>
            </div>
        </div>
        <br>
    </div>

</div>
