<div class="wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">
    <p class="title">Log in</p>
    <input type="text" placeholder="Username" autofocus [formControlName]="'username'" name="username" required/>
    <i class="fa fa-user"></i>
    <input type="password" placeholder="Password" [formControlName]="'password'" name="password" required/>
    <i class="fa fa-key"></i>
    <a href="#">Forgot your password?</a>
    <button type="submit">
      <i class="spinner"></i>
      <span class="state">Log in</span>
    </button>
  </form>
  <footer><a target="blank" href="#" style="color: black" routerLink="/sign-up">Not having an Account? Sign Up</a></footer>
</div>
