<nav class="navbar fixed-top navbar-expand-lg navbar-light  navbar-custom" xmlns="http://www.w3.org/1999/html" style="background-color: #8e8e8e">
  <div class="container-fluid no-padding">
    <a class="nav-link" routerLink="/home">
      <img src="/assets/images.png" alt="image" class="logo"> &nbsp;
    </a>
    <div *ngIf="screenWidth > 1300">
      <div class="input-group rounded ">

        <form class="form-group has-search" [formGroup]="searchForm" (ngSubmit)="search()">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control rounded"  [formControlName]="'query_input'" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
        </form>
      </div>
    </div>

    


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
        


        <li class="nav-item">

          <div class="icons">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
          </div>

          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active_route">Home</a>
        </li>
        <li class="nav-item">
          <div class="icons">
            <i class="fa fa-users fa-2x" aria-hidden="true"></i>
          </div>

          <a class="nav-link" routerLink="/mynetwork" routerLinkActive="active_route">My Network</a>
        </li>

        <li class="nav-item">
          <div class="icons">
            <i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
          </div>
          <a class="nav-link active" aria-current="page" routerLink="/jobs" routerLinkActive="active_route">Jobs</a>
        </li>

        <li class="nav-item">

          <div class="icons">
            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
          </div>

          <a class="nav-link" routerLink="/mysettings" routerLinkActive="active_route">Settings</a>
        </li>

        <li class="nav-item">

          <div class="icons">
            <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
          </div>

          <a class="nav-link" routerLink="/messages" routerLinkActive="active_route">Messages</a>
        </li>
        <li class="nav-item">

          <div class="icons">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          </div>

          <a class="nav-link" routerLink="/personal-Info" routerLinkActive="active_route">Personal Info</a>
        </li>

        <li class="nav-item">

          <div class="icons">
            <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
          </div>

          <a class="nav-link" routerLink="/notifications" routerLinkActive="active_route">Notifications</a>
        </li>





      </ul>


      <!--      <form class="d-flex">-->
      <!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
      <!--      </form>-->

    </div>
  </div>
</nav>
