<html>
<header>
<app-navigation-bar></app-navigation-bar>
</header>
<!-- <div class="right">
    Dexia    
</div> -->
<body>



<section>
        <nav>
        <ul>
            <!-- <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li> -->
            <div class="rcorners2">
            My profile
            </div>
        </ul>
        </nav>
    
    <article>
        <div class="rcorners2">
        Kentro

        <form class="login">
            <input type="text" id="post" placeholder="Start a post">
            <button routerLink="/home">
                <i class="spinner"></i>
                <span class="state">Post</span>
            </button>
        </form>
        </div>
    </article>
  </section>


</body>
</html>