<!-- Section to Display Votes-->

<div *ngIf="liked_by_current_user == false; else already_liked">


      
      Post id = {{ post.postId }}
      <a class="btnComments" role="button">
        {{ post.likeCount}} likes  {{ post.commentCount}} comments
      </a>
      <hr style="width : 100%;">

      <button mat-raised-button color="accent" (click)="like()"  aria-hidden="true" > Like</button>
</div>

<ng-template #already_liked>
  Post id = {{ post.postId }}
  <a class="btnComments" role="button">
    {{ post.likeCount}} likes  {{ post.commentCount}} comments
  </a>
  <hr style="width : 100%;">
    <!-- <button mat-stroked-button color="primary" (click)="like()" class="fa fa-thumbs-up" aria-hidden="true" ></button> -->
    <button mat-stroked-button color="accent" (click)="like()"   aria-hidden="true"> Liked </button>
    

</ng-template>
